<script setup>
import {
  CollectionIcon,
  PlusIcon,
  CheckIcon,
  TrashIcon,
  ClipboardListIcon,
} from "@heroicons/vue/outline";
import { ref, watchEffect } from "vue";

const _listName = ref("");

const lists = ref(JSON.parse(localStorage.getItem("lists")) || []);

function addList() {
  _listName.value &&
    lists.value.push({
      title: _listName.value,
      items: [],
    });
  _listName.value = "";
  localStorage.setItem("lists", JSON.stringify(lists.value));
}

function deleteList(listIndex) {
  lists.value.splice(listIndex, 1);
  localStorage.setItem("lists", JSON.stringify(lists.value));
}

function addItem(list) {
  list._itemName &&
    list.items.push({ title: list._itemName, completed: false });
  list._itemName = "";
  localStorage.setItem("lists", JSON.stringify(lists.value));
}

function completeItem(list, itemIndex) {
  list.items[itemIndex].completed = true;
  localStorage.setItem("lists", JSON.stringify(lists.value));
}

function deleteItem(list, itemIndex) {
  list.items.splice(itemIndex, 1);
  localStorage.setItem("lists", JSON.stringify(lists.value));
}
</script>

<template>
  <div class="flex h-full flex-col">
    <header class="flex justify-end p-5">
      <div class="flex rounded-md">
        <div class="relative flex flex-grow items-stretch">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <CollectionIcon class="h-5 text-neutral-400" aria-hidden="true" />
          </div>
          <input
            type="text"
            class="rounded-l-lg border border-neutral-500 bg-neutral-800 pl-10"
            placeholder="List Name"
            v-model="_listName"
          />
        </div>
        <button
          type="button"
          class="flex items-center space-x-2 rounded-r-lg border border-neutral-500 bg-neutral-700 px-4 py-2 text-sm font-medium text-neutral-200"
          @click="addList"
        >
          <PlusIcon class="h-5 text-neutral-400" aria-hidden="true" />
          <span>Add List</span>
        </button>
      </div>
    </header>
    <main class="flex flex-grow gap-5 overflow-x-auto p-5">
      <div
        class="flex h-full w-full items-center justify-center"
        v-if="lists.length == 0"
      >
        <div
          class="flex h-1/2 w-1/2 flex-col items-center justify-center rounded-lg border-4 border-dashed border-neutral-600 p-12 text-neutral-600"
        >
          <ClipboardListIcon class="h-12" />
          <span class="mt-2 text-center text-3xl font-light">
            Create a new list <br />
            to get started
          </span>
        </div>
      </div>
      <div
        v-for="(list, listIndex) of lists"
        :key="listIndex"
        class="flex w-72 min-w-max flex-col items-center rounded-lg bg-neutral-800 p-3"
      >
        <h3 class="text-center text-2xl">{{ list.title }}</h3>
        <ul class="mt-5 w-full flex-grow">
          <li
            v-for="(item, itemIndex) of list.items"
            :key="itemIndex"
            class="p-2"
          >
            <div
              class="flex items-center justify-between space-x-4"
              :class="{ 'text-neutral-500': item.completed }"
            >
              {{ item.title }}
              <div class="flex space-x-4">
                <button
                  v-if="!item.completed"
                  @click="completeItem(list, itemIndex)"
                >
                  <CheckIcon class="h-6 text-green-400" />
                </button>
                <button @click="deleteItem(list, itemIndex)">
                  <TrashIcon class="h-6 text-red-400" />
                </button>
              </div>
            </div>
          </li>
          <li></li>
        </ul>
        <div class="space-y-4">
          <div class="flex rounded-md">
            <div class="relative flex flex-grow items-stretch">
              <input
                type="text"
                class="rounded-l-lg border border-neutral-500 bg-neutral-800"
                placeholder="New Item"
                v-model="list._itemName"
              />
            </div>
            <button
              type="button"
              class="flex items-center space-x-2 rounded-r-lg border border-neutral-500 bg-neutral-700 px-4 py-2 text-sm font-medium text-neutral-200"
              @click="addItem(list)"
            >
              <PlusIcon class="h-5 text-neutral-400" aria-hidden="true" />
            </button>
          </div>
          <button
            class="flex w-full items-center justify-between rounded-lg border border-red-400 px-3 py-2 text-red-400"
            @click="deleteList(listIndex)"
          >
            <span>Delete List</span>
            <TrashIcon class="h-6" />
          </button>
        </div>
      </div>
    </main>
  </div>
</template>
